.logo {
    height: 180px;
    background: url("../img/pattern.png");
    background-color: skyblue;   
}

mark {
    background-color: #ddff8f;
  }

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: dodgerblue;
}


td {
    height: 70px;
    text-align: left;
}

.img1 {
    background: url(../img/monitor.jpg) no-repeat;
    background: cover;
    width: 300px;
    height: 200px;
    color: #fff;
}

.img2 {
    background: url(../img/graph.jpg) no-repeat;
    background: cover;
    width: 300px;
    height: 200px;
    color: linen;
}